@page "/"

@using BlazorApp1.Components.Pages;

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<p class="lead">Welcome to FIR low pass filter App</p>

<p><span>The result from native MyAdd function is: @myAddResult // ASM DLL</span></p>
<p><span>The result from native MyMinus function is: @myMinusResult // C DLL</span></p>

@code{
	int myAddResult = NativeMethods.MyAdd(3, 4);
	int myMinusResult = NativeMethods.MyMinus(3, 4);
}