@page "/"
@using System.Diagnostics
@using System.Runtime.InteropServices
@using BlazorApp1.Components.Pages;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<p class="lead">Welcome to FIR low pass filter App</p>

@foreach(var number in numbers)
{
	<p>@number</p>
}

@foreach (var number in numbersOutput)
{
    <p>@number</p>
} 

<button @onclick="Start">FIR</button>


@code{
    public float[] numbers = { 1.0f, 2.0f};
    public float[] numbersOutput = { 0.0f, 0.0f};
    public float[] coeffs = { 1.0f, 2.0f, 3.5f, -7.0f, 1.0f, 2.0f, -3.5f, 1.0f, -2.0f, -8.0f, -13.0f};

    private async Task Start()
    {
        NativeMethodsAsm.ProcessFIRFilter(numbers, numbersOutput, coeffs, numbersOutput.Length, coeffs.Length);
        StateHasChanged();
    }
}
