@page "/img-compress"
@attribute [StreamRendering]

<PageTitle>Image Compress</PageTitle>

<div class="container mt-4">
    <h1 class="mb-4">Image Compression</h1>

    <p>Result from native function: @result</p>

    <div class="mb-3">
        <input type="file" class="form-control" accept=".jpg" />
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Original Image</h3>
            @if (originalImageData != null)
            {
                <img src="@originalImageData" alt="Original Image" class="img-fluid rounded" />
            }
        </div>
        <div class="col-md-6">
            <h3>Compressed Image</h3>
            @if (compressedImageData != null)
            {
                <img src="@compressedImageData" alt="Compressed Image" class="img-fluid rounded" />
            }
        </div>
    </div>
</div>

@code {
    private string? originalImageData;
    private string? compressedImageData;
    private int result;

    protected override void OnInitialized()
    {
        result = NativeMethods.MyAdd(14, 5);
    }

}
